<%- include("./partials/header") %>    
    <link rel="stylesheet" href="/css/result.css">
</head>
    <body class="d-flex justify-content-center align-items-center flex-column">
        <img loading="lazy" class="h-25" src="/assets/cancel.png" alt="">
        <p class="fs-1 fw-semibold text-danger">Failure!</p>
        <p class="fs-5 w-75 text-center">We are sorry, something went wrong during the checkout process</p>
        <a href="/">
            <button type="button" class="mt-2 px-4 py-2 btn btn-light btn-outline-danger rounded-pill">Home page</button>
        </a>
    </body>
</html>