    <%- include("partials/header") %>
    
    <nav class="navbar navbar-expand-lg position-fixed">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-body">
                    <ul class="offcanvas-nav gap-4">
                        <li class="offcanvas-item">
                        <a class="offcanvas-link active" href="#">Home</a>
                        </li>
                        <li class="offcanvas-item">
                        <a class="offcanvas-link" href="#">Shop</a>
                        </li>
                        <li class="offcanvas-item">
                        <a class="offcanvas-link" href="#">About</a>
                        </li>
                        <li class="offcanvas-item">
                        <a class="offcanvas-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav gap-4">
                    <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <a class="navbar-brand text-center" href="/">
                    <img class="navbar-logo" src="assets/magic-logo.png" alt="">
                </a>
                <ul class="navbar-nav nav-icons  gap-5 justify-content-end">
                    <li class="nav-item">
                        <img src="assets/lens.svg" alt="">
                    </li>
                    <li class="nav-item">
                        <img src="assets/favorite.svg" alt="">
                    </li>
                    <li class="nav-item">
                        <img src="assets/cart.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="main-section" class="position-relative">
        <div class="row position-absolute w-100">
            <div class="col col-lg-7 col-md-8 col-sm-12">
                <h1>Glamorous, <br> Braiding Hair</h1>
                <p>Transform your look with our glamorous braiding hair collection - 
                    stunning styles that'll leave you turning heads!</p>
                <a href="/shop"><button class="btn">Shop now</button></a>
            </div>
        </div>
        <div class="container-fluid position-absolute bottom-0 main-social d-flex ">
            <span>
                <h2>
                    Follow us on our social pages
                </h2>
                <h2 class="contracted">
                    Follow us
                </h2>
            </span>
            <span>
                <a href="">
                    <img src="assets/facebook.png" alt="facebook">
                    <p>Facebook</p>
                </a>
            </span>
            <span>
                <a href="">
                    <img src="assets/instagram.png" alt="instagram">
                    <p>Instagram</p>
                </a>
            </span>
            <span>
                <a href="">
                    <img src="assets/tiktok.png" alt="tiktok">
                    <p>Tiktok</p>
                </a>
            </span>
        </div>
        <img class="position-absolute main-img" src="assets/main.png" alt="">
    </section>

    <section id="featured-section" class="container-fluid">
        <div class="heading w-100 text-center">
            <h6>DISCOVER OUR BRAID STYLES</h6>
            <h2>Featured Hair</h2>
        </div>
        <%- include("partials/featured-section/featuredProductslg") %>
        <%- include("partials/featured-section/featuredProductsMd") %>
        
    </section>

    
    <hr>
    
    <section id="testimonial-section">
        <div class="heading w-100 text-center">
            <h6>TESTIMONIALS</h6>
            <h2>What Our Clients Say About Us</h2>
        </div>
        <div class="testimonial-carousel-container container-fluid">
            <div id="testimonial-carousel-indicators" class="carousel slide pb-5" data-bs-ride="true">
                
                
                <div id="testimonial-carousel-indicators" class="carousel-indicators m-0">
                    <button type="button" data-bs-target="#testimonial-carousel-indicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#testimonial-carousel-indicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#testimonial-carousel-indicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                
                <div id="lg-carousel" class="carousel-inner ">
                    <div class="carousel-item active">
                        <div class="card" style="width: 55%; margin: auto;">
                            <div class="card-body">
                                <p class="testimonial"><span class="quotes">"</span>I was hesitant to try a new hair braiding service, 
                                    but I'm so glad I did! The team from magic finger braids was friendly, 
                                    professional, and listened to what I wanted. 
                                    I left feeling beautiful and confident. 
                                    I'll definitely be back!<span class="quotes">"</span>
                                </p>
                                <h6 class="card-subtitle mb-2 client-name">John Doe</h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="card" style="width: 55%; margin: auto;">
                            <div class="card-body">
                                <p class="testimonial">
                                    <span class="quotes">"</span>
                                    I've been going to magic finger braids for years and I'm always impressed by their attention to detail and the quality of their work. 
                                    They always make sure I'm comfortable and happy with the end result. 
                                    Love them!<span class="quotes">"</span>
                                </p>
                                <h6 class="card-subtitle mb-2 client-name">Elie Doe</h6>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="card" style="width: 55%; margin: auto;">
                            <div class="card-body">
                                <p class="testimonial">
                                    <span class="quotes">"</span>
                                    I was really nervous about getting my hair braided for the first time, 
                                    but the staff at magic finger braids put me at ease right away. 
                                    They were patient and gave me exactly what I wanted. 
                                    I couldn't be happier with the results.
                                    <span class="quotes">"</span>
                                </p>
                                <h6 class="card-subtitle mb-2 client-name">Elie Doe</h6>
                            </div>
                        </div>
                    </div>
                </div>
        
                <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel-indicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel-indicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    
    <hr>

    <%- include("partials/footer") %>