<%- include("./partials/header") %>
<%- include("./partials/NavigationBar/navigation-bar") %>

<link rel="stylesheet" href="/css/navigation.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/not-found.css">
<title>Page not found</title>
</head>
<body>

<section id="not-found-section" class="d-flex justify-content-center align-items-center">
    <img loading="lazy" src="/assets/not-found.png" alt="">
    <h4>Page not found</h4>
    <p class="text-center fw-semibold">We are sorry, but the page you're looking <br> for cannot be found</p>
    <button class="btn border border-2 px-4 py-2  border-dark rounded-0 btn-outline-dark">Back to home page</button>
</section>

<%- include("./partials/footer") %>