<%- include("./partials/header") %>
        <link rel="stylesheet" href="css/navigation.min.css">
        <link rel="stylesheet" href="css/shop.min.css">
        <link rel="stylesheet" href="css/footer.min.css">
        <title>Products</title>
    </head>
    <body>

<%- include("./partials/NavigationBar/navigation-bar") %>



<section class="product-section">
    <h1 class="text-center heading">Shop</h1>
    <div class="category-bar w-100 bg-dark h-25"></div>
    <div class="container-fluid">
        <div class="d-flex top-bar pt-4 pb-3 justify-content-between align-items-center">
            <!-- Breadcrumb -->
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
            </ol>
            <!-- Filter Dropdowns -->
            <form id="update-form" action="/shop" method="get">
                <div class="d-flex">
                    <div class="filter-container border-2 border-start px-4 py-1 d-flex gap-2 align-items-center">
                        <div class="filter-icon">
                            <img loading="lazy" src="assets/filter.svg" alt="more options">
                        </div>
                        <select  class="form-select" id="filter" name="filterby" aria-label="Floating label select example">
                            <option selected value="">Filters</option>
                            <option value="women">For Women</option>
                            <option value="men">For Men</option>
                            <option value="kids">For Kids</option>
                        </select>
                    </div>
                    <div class="filter-container border-2 border-start border-end px-4 py-1 d-flex gap-2 align-items-center">
                        <select class="form-select" id="sort" name="sortby" aria-label="Floating label select example">
                            <option selected value="">Default sorting</option>
                            <option value="latest">Sort by latest</option>
                            <option value="low">Sort by price: low to high</option>
                            <option value="high">Sort by price: high to low</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
      </div> 

      <div class="container-fluid product-container">
        <%- include("./partials/Products/Products") %>
      </div>

    <button class="more-btn px-5 py-2 btn fw-semibold rounded-0 d-block mx-auto mt-5 btn-outline-dark">Load more</button>
</section>

<div class="drawer">
    <div class="drawer-header text-center py-3">
        <button type="button" class="btn-close drawer-closer m-auto" aria-label="Close"></button>
    </div>
    <div class="drawer-body">
        <div class="spinner-container position-absolute">
            <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="row product-data d-none">
            <div class="image-col col col-12 col-lg-6 col-sm-6">
                <img loading="lazy" class="quickview-img" src="" alt="product">
            </div>
            <div class="col col-12 col-lg-6 col-sm-6">
                <h2 class="item-title"></h2>
                <h4 class="mt-3 item-price"></h4>
                <h6 class="my-3">Choose Style</h6>
                <div id="options" class="hstack w-100 flex-wrap gap-3 mt-2">
                    
                </div>
                <div class="text-danger mt-2" id="option-error"></div>
                <div class="hstack flex-wrap mt-4">
                    <div class="option-price">
                        <p class="text-secondary">Price: <span id="price"></span></p>
                    </div>
                    <button type="button" id="id" value="" class="btn add-to-cart ms-auto px-4 py-2 bg-dark rounded-0 text-light" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="option 1">
                        Book
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="overlay"></div>

<script src="/js/shop.min.js"></script>

<%- include("./partials/footer") %>