<%- include("./partials/header") %>    
    <link rel="stylesheet" href="/css/result.css">
</head>
    <body class="d-flex justify-content-center align-items-center flex-column">
        <img class="h-25" src="/assets/check.png" alt="">
        <p class="fs-1 fw-semibold text-success">Payment Successful!</p>
        <p class="mt-4 fs-5 w-75 text-center">Thank you for booking an appointment with Magic Finger Braids. We look forward to seeing you soon! Please remember to bring a proof of payment when you arrive for your appointment. If you have any questions or concerns, please don't hesitate to reach out to us. Thank you!</p>
        <a href="/shop">
            <button type="button" class="mt-2 px-4 py-2 btn btn-light btn-outline-success rounded-pill">Back to shop</button>
        </a>
    </body>