<%- include("./partials/header") %>    
    <link rel="stylesheet" href="/css/result.css">
</head>
    <body class="d-flex justify-content-center align-items-center flex-column">
        <img class="h-25" src="/assets/check.png" alt="">
        <h1></h1>
    </body>
</html>