:root {
  --primary-color: #FAE0D8;
  --secondary-color: #000;
  --clear: #FFF;
  --brown-color: #c9a14b;
  --underline: #FFADAF;
  --gray-clear: #9EA0A0;
  --gray: #444444;
  --gray-clear-xl: #BEBFBF;
  --facebook: #1773EA;
}

/* Footer */

footer {
    width: 100%;
}

footer > .row {
    padding: 0 5%;
}

footer .logo {
    height: 5rem;
}

footer ul li {
    list-style: none;
    margin: 5px;
}

footer ul li a,
footer .form-heading,
footer #email::placeholder {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
}

footer .footer-links li a{
    color: var(--secondary-color);
}

footer .footer-legal li a,
footer .footer-social li a {
    color: #8d8c8c;
}

footer .right-row {
    text-align: end;
}

footer form input {
    width: 100%;
    border: 2px solid var(--gray-clear-xl);
    padding: 0 3rem 0 1rem;
}

footer form input::placeholder {
    color: #BEBFBF;
    position: absolute;
    right: 3.5rem;
    top: 50%;
    transform: translateY(-50%);
}

footer form input:focus {
    outline: none;
}

footer form button[type="submit"] {
  width: 3rem;
  border-radius: 0;
  background-image: url("../assets/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border: 0;
  transition: 0.3s;
}

footer form button[type="submit"]:active,
footer form button[type="submit"],
footer form button[type="submit"]:hover {
  background-color: var(--brown-color) !important;
}

footer form button[type="submit"]:active {
  outline: none;
  opacity: 0.8;
}

footer form input, 
footer form button[type="submit"] {
    height: 3rem;
}

footer .copyright {
  font-size: 0.8rem;
  color: var(--gray-clear);
}

@media (max-width: 992px) {
  footer .right-row {
    text-align: center;
  }

  footer .right-row .col {
    width: 60%;
    margin: 30px auto 0;
  }

  footer form input::placeholder {
    left: 1rem;
  }

  footer .col .copyright {
    margin: 50px 0 25px !important;
  }

}

@media (max-width: 992px) {
  
    footer .right-row .col {
    width: 80%;
  }

}

@media (max-width: 768px) {
  
  footer .logo {
    margin-bottom: 5%;
  }

}

@media (max-width: 310px) {
  footer .left-row .col {
    text-align: center;
  }
}