/* Navigation bar */
:root {
  --primary-color: #FAE0D8;
  --secondary-color: #000;
  --clear: #FFF;
  --brown-color: #c9a14b;
  --underline: #FFADAF;
  --gray-clear: #9EA0A0;
  --gray: #444444;
  --gray-clear-xl: #BEBFBF;
  --facebook: #1773EA;
}

body {
  font-family: 'Manrope', sans-serif;
}

.container-fluid {
  padding: 0 !important;
}

.side-bar {
    display: none;
  }
  
  .side-bar .offcanvas-item {
    margin-top: 2rem !important;
    list-style: none;
  }

  .offcanvas-top .offcanvas-body {
    padding: 5% 10% 0 !important;
  }
  
  .side-bar .offcanvas-item a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-color);
  }
  
  .side-bar .offcanvas-item a img {
    height: 22px;
  }
  
  .side-bar .offcanvas-item.login-btn {
    margin-top: 5rem !important;
    border-top: 2px solid var(--gray-clear-xl);
    border-bottom: 2px solid var(--gray-clear-xl);
  }
  
  .search-bar {
    border: 2px solid var(--gray-clear-xl);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.8rem;
  }
  
  .search-btn {
    background-image: url("../assets/lens.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .search-btn {
    border: 0;
  }
  
  input[type="search"]::placeholder {
    font-size: 1.8rem;
    color: var(--gray-clear);
  }
  
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  
  input[type="search"]:focus {
    outline: none;
    box-shadow: none;
  }
  
  nav {
      width: 100%;
      z-index: 10 !important;
      background-color: transparent;
      transition: 0.2s ease-out;
    }

    nav .badge {
      background-color: var(--brown-color) !important;
    }
    
    .navbar {
      padding: 0 5%;
    }
  
    .navbar .navbar-toggler {
      border: 0;
    }
  
    .offcanvas .offcanvas-header a img {
      height: 22px;
    } 
  
    .btn-close:focus,
    .navbar .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
    
    .navbar .nav-link {
      font-weight: 700;
      font-size: 1rem;
      padding-top: 15px;
      color: var(--secondary-color);
    }
  
    .navbar .md-brand, .navbar .md-cart {
      display: none;
      cursor: pointer;
    }
  
    .navbar .navbar-logo {
      height: 80px;
    }
    
    .navbar-collapse .navbar-nav,
    .navbar-collapse .navbar-brand {
      flex-grow: 1;
      flex-basis: 0;
    }

    .navbar-collapse .navbar-brand:not(.md-brand) {
      margin: auto;
      flex-grow: 0 !important;
    }
    
    .nav-link.active::after {
      content: "";
      width: 120px;
      height: 20px;
      background-color: #000;
    }
    
    .navbar .nav-icons img {
      height: 22px;
      cursor: pointer;
    }
  
    .offcanvas-end .cart-container {
      height: fit-content;
      width: fit-content;
      padding: 2rem;
    }
  
    .offcanvas-end .cart-container img {
      height: 40px;
      width: 40px;
    }

    .offcanvas-end .offcanvas-body .shop-btn {
      border: 2px solid var(--secondary-color);
    }

    .offcanvas-end .offcanvas-body .item-img {
      height: 5rem;
      width: 3.8rem;
      object-fit: cover;
    }

    .offcanvas-end .offcanvas-body .content-container {
      flex-direction: column;
      justify-content: space-between;
    }

    .offcanvas-end .offcanvas-body .content-container p {
      font-size: 1rem;
      font-weight: 600;
      text-align: start;
    }

    .offcanvas-end .offcanvas-body .content-container input {
      border: 0;
      width: 1.5rem;
      text-align: center;
    }

    .offcanvas-end .offcanvas-body .content-container input:focus {
      box-shadow: none;
      outline: none;
    }

    .offcanvas-end .offcanvas-body .content-container button {
      font-weight: 500 !important;
      border-radius: 50% !important;
      height: 2rem;
      width: 2rem;
      padding: 0;
    }

    .offcanvas-body.hide {
      display: none !important;
    }

    .offcanvas-end .offcanvas-body .content-container button:active,
    .offcanvas-end .offcanvas-body .content-container button:hover {
      border-color: var(--brown-color);
      background-color: var(--brown-color);
    }

    .offcanvas-body-total {
      height: 40%;
    }

    .offcanvas-body.total p {
      font-weight: 500;
    }

    .offcanvas ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Style the thumb */
    .offcanvas ::-webkit-scrollbar-thumb {
      background-color: var(--gray-clear); /* Color of the thumb */
      border-radius: 15px /* Rounded corners of the thumb */
    }
    
    /* Style the track */
    .offcanvas ::-webkit-scrollbar-track {
      background-color: #f2f2f2; /* Color of the track */
      border-radius: 20px;
    }
    
  
    @media (max-width: 991.5px) {
      .navbar .md-brand{
        display: block;
        margin: auto;
      }
  
      nav .side-bar {
        display: block;
      }
      
      .navbar .md-cart img {
        width: 22px;
      }
  
      .navbar .md-brand, .navbar .md-cart{
        display: block;
      }
    }
  
    @media (max-width: 600px) {
      nav .side-bar {
        width: 100% !important;
      }
  
      .offcanvas-end {
        width: 100% !important;
      }
    }

    /* Hide the number indicators on number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
