input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}



.container-fluid {
    padding: 0 !important;
}

.product-section {
    padding: 8rem 5% 0;
}

.product-section .card {
    width: 90%;
}

.product-section .card-body a {
    text-decoration: none;
    transition: 0.2s;
}

.product-section .card-body a:hover {
    color: var(--brown-color) !important;
}

.product-section .card .card-text+.card-text {
    font-size: 0.95rem;
}

.product-section .card .card-img-top {
    height: 20rem;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
    transition: 0.2s;
}

.product-section .form-select {
    height: 2rem;
    padding: 0 2rem 0 0;
    margin-left: 2px;
    background-color: transparent;
    border: 0;
}

hr {
    margin: 5%;
}

.product-section .breadcrumb li a {
    color: var(--gray-clear);
    text-decoration: none;
}

.product-section select:focus {
    outline: none;
    box-shadow: none;
}

.product-section select option:active {
    background-color: var(--secondary-color);
}

.product-section .card-img-top-container {
    border-radius: 15px;
}

.product-section .card .card-img-top-container .view-icon {
    height: 1.5rem;
    transition: 0.2s;
}

.product-section .card .fav-icon,
.product-section .card .product-name,
.product-section .card .card-img-top-container {
    cursor: pointer;
}


.product-section .card:hover .card-img-top {
    transform: scale(105%);
}

.product-section .card .add-btn {
    top: 100%;
    right: 50%;
    width: 110%;
    opacity: 0;
    transform: translateX(50%);
    transition: 0.25s ease-in;
    background-color: var(--clear);
}

.product-section .card .add-btn:active {
    opacity: 0.9;
    border: 1px solid var(--gray-clear-xl);
    background-color: var(--gray-clear-xl) !important;
}

.product-section .card:hover .add-btn {
    opacity: 0.85;
    transform: translate(50%, -100%);
}

.product-section .card .add-btn .add-cart-btn {
    height: 1.2rem;
}

.product-section .card .price-slider {
    height: 1.3rem;
}

.product-section .card .price-slider p {
    left: 0;
    bottom: 0;
}

.product-section .card .price-slider button {
    top: 100%;
    left: 0;
}

.product-section .card .price-slider button:hover {
    color: var(--brown-color) !important;
}

.product-section .card .price-slider p,
.product-section .card .price-slider button,
.product-section .card .card-img-top-container .view-icon {
    transition: all 0.3s;
}

.product-section .card:hover .price-slider p {
    bottom: 100%;
    left: 0;
}

.product-section .card:hover .price-slider button {
    top: 0;
    left: 0;
}

.drawer {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: var(--clear);
    color: var(--secondary-color);
    transition: bottom 0.4s ease-in-out;
    border-radius: 3rem 3rem 0 0;
    height: 75% !important;
    width: 85% !important;
    padding: 0 5% !important;
    margin: auto;
}

.drawer.reveal {
    bottom: 0;
    z-index: 25;
    padding-bottom: 1.5rem !important;
}

.drawer::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Style the thumb */
  .drawer::-webkit-scrollbar-thumb {
    background-color: var(--gray-clear); /* Color of the thumb */
    border-radius: 15px /* Rounded corners of the thumb */
  }
  
  /* Style the track */
  .drawer::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* Color of the track */
    border-radius: 20px;
  }

.drawer {
    overflow: auto;
}

.drawer .image-col {
    height: 30rem;
}

.drawer .quickview-img {
    height: 100%;
    width: 90%;
    object-fit: cover;
    object-position: top;
}

.drawer .col h4 {
    color: var(--brown-color);
}

.drawer .option-price p {
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
  }
  
  .overlay.reveal {
    opacity: 1;
    z-index: 20;
    pointer-events: all;
  }

@media (max-width: 1150px) {

    .product-section .card .card-img-top {
        height: 18rem;
    }
    
}

@media (max-width: 992px) {
    .drawer {
        height: 60% !important;
    }

    .drawer .image-col {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 850px) {

    .product-section .card .card-img-top {
        height: 16rem;
    }

    .drawer {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0;
    }
    
}

@media (max-width: 768px) {
    
    .product-section .card .card-img-top {
        height: 18rem;
    }

}

@media (max-width: 660px) {
     .drawer .drawer-body .row {
        flex-direction: column !important;
    }
    
    .drawer .drawer-body .row .col:not(.image-col) {
        width: 100% !important;
    }    

    .drawer .drawer-body .image-col {
        width: 80% !important;
        height: 80% !important;
        margin-bottom: 1rem !important;
    }
}


@media (max-width: 575.5px) {

    .product-section .card {
        width: 95%;
    }

    .product-section .card .card-img-top {
        height: 15rem;
    }
    
}

@media (max-width: 610.5px) {

    .top-bar {
        display: block !important;
        width: 100%;
    }

    .filter-container {
        margin-top: 1rem;
        padding: 0 0.5rem !important;
    }
    
    select {
        font-size: 0.9rem !important;
    }
    
}

@media (max-width: 450px) {

    .drawer .quickview-img {
        height: 20rem;
        width: 100%;
    }

    .drawer .drawer-body .image-col {
        height: 60% !important;
    }

    .product-section .card .card-img-top {
        height: 18rem;
    }

    .product-section .row {
        flex-direction: column;
    }
    
    .product-section .row .col {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}


