  /* Main section */
  #main-section {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1;
  }

  #main-section .main-social {
    padding: 2% 5% !important;
    color: var(--clear);
    z-index: 20;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
  }

  #main-section .main-social span {
    width: 25%;
  }

  #main-section .main-social span,
  #main-section .main-social span a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main-section .main-social span a {
    text-decoration: none;
    color: var(--clear);
  }

  #main-section .main-social span a:hover img {
    filter: none;
  }

  #main-section .main-social span p {
    margin: 0;
  }

  #main-section .main-social span img {
    margin-right: 10px;
    width: 2rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    transition: 0.3s;
  }


  #main-section .main-social span:not(:last-child) {
    border-right: 2px solid var(--gray);
  }

  #main-section .main-social span h2 {
    font-size: 1.4rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  #main-section .main-social span h2.contracted {
    display: none;
  }

  #main-section .main-social span h2,
  #main-section .main-social span p {
    letter-spacing: 0.05rem;
  }
  
  #main-section .main-img {
    bottom: 0;
    right: 10%;
    height: 90%;
  }
  
  #main-section .row {
    top: 15%;
    margin: 0 !important;
  }
  
  #main-section .row .col {
    padding-left: 10%;
    z-index: 10;
  }
  
  #main-section .row h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--secondary-color);
  }
  
  #main-section .row p {
    width: 30rem;
    font-size: 1rem;
    line-height: 1.6rem;
    color: var(--gray);
  }
  
  #main-section .row .col .btn {
    background-color: var(--secondary-color);
    color: var(--clear);
    border-radius: 0;
    padding: 1.2rem 5rem;
    margin-top: 2rem;
    font-size: 0.95rem;
    letter-spacing: 2px;
  }
  
  /* Media queries */
  @media screen and (max-width:991.5px) {

    #main-section .main-social span img {
      width: 1.8rem;
    }

    #main-section .main-social span h2 {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    #main-section .row .col {
      padding-left: 8%;
    }
  
    #main-section .row h1 {
      font-size: 3.5rem;
    }
  
    #main-section .row p {
      width: 20rem;
    }
  
    #main-section .main-img {
      right: 8%;
      height: 85%;
    }
  }
  
  @media (max-width:750px) {
    #main-section .row {
      top: 25%;
    }

    #main-section .main-social span h2 {
      font-size: 1rem;
    }
    
    #main-section .main-social span p {
      font-size: 0.9rem;
    }

    #main-section .main-social span img {
      width: 1.2rem;
    }
  
    #main-section .row .col {
      padding-left: 8%;
    }
  
    #main-section .row h1 {
      font-size: 3rem;
    }
  
    #main-section .row p {
      width: 17rem;
    }
  
    #main-section .row .col .btn {
      padding: 1rem 4rem;
    }
  
    #main-section .main-img {
      right: 2%;
      height: 80%;
    }
  }

@media (max-width:650px) {

  #main-section .main-social {
    padding: 3% 5% !important;
  }

  #main-section .main-social span h2.contracted {
    display: block;
  }

  #main-section .main-social span h2:not(.contracted) {
    display: none;
  }
    .navbar {
        padding: 0.6rem 2rem;
    }

    #main-section .row .col {
        padding: 0 !important;
    }

    #main-section .row.text-container {
      top: 64%;
      text-align: center;
    }

    #main-section .row h1 {
        font-size: 2.2rem;
    }

    #main-section .row h1 br {
      display: none;
    }

    #main-section .row p {
        width: 100% !important;
    }

    #main-section .row .col .btn {
      margin-top: 1rem;
      padding: 1rem 4rem;
    }

    #main-section .main-img {
        right: 50%;
        bottom: 36%;
        height: 50%;
        transform: translateX(50%);
    }

    #main-section .main-social span img {
      width: 1.5rem;
    }

    #main-section .main-social span p {
      display: none;
    }
}

@media (max-width:450px) {

    #main-section .row h1 {
        font-size: 1.8rem;
    }

    #main-section .row p {
        font-size: 0.9rem;
    }

    #main-section .row.text-container {
      text-align: center;
    }

    #main-section .row .col .btn {
        padding: 0.6rem 2rem;
    }
}

@media (max-width:350px) {

    #main-section .row h1 {
        font-size: 1.5rem;
    }

    #main-section .row p {
        font-size: 0.9rem;
    }
}


/* Featured Section */

#featured-section {
    padding: 5rem !important;
}

.heading h6 {
    color: var(--brown-color);
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 1rem;
}

.heading h2 {
    color: var(--secondary-color);
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 2.6rem;
    margin: 0 0 5%;
}

#featured-section .md-carousel-container {
  display: none;
}

#featured-section .carousel {
    height: 65vh;
}

#featured-section .carousel-indicators {
    margin: 0;
    bottom: -8%;
}

#featured-section .carousel-indicators button {
    background-color: var(--gray);
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

#featured-section .carousel-inner,
#featured-section .carousel-item,
#featured-section .carousel-item .hstack {
    height: 100%;
}

#featured-section .carousel-control-prev,
#featured-section .carousel-control-next {
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    padding: 0.5rem;
    top: 50%;
    background-color: var(--brown-color);

}

#featured-section .carousel-control-prev {
    left: 4%;
    transform: translate(-50%, -50%);
}

#featured-section .carousel-control-next {
    right: 4%;
    transform: translate(50%, -50%);
}

#featured-section .carousel-item .card {
    height: 80%;
    width: 30%;
    border: 0;
}

#featured-section .carousel-item .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--bs-card-inner-border-radius) ;
}   

hr {
  margin: 0 5rem 5rem;
  background-color: var(--gray-clear);
  border: 0;
  height: 0.1rem;
}

@media screen and (max-width:990px) {
    #featured-section .carousel {
        height: 50vh;
    }

    #featured-section .carousel-item .card {
        width: 32%;
    }

    #featured-section {
        padding: 3rem !important;
    }
}

@media screen and (max-width:768px) {

  #featured-section .carousel-item .card {
    width: 60%;
  }

  #featured-section .lg-carousel-container {
    display: none;
  }

  #featured-section .md-carousel-container {
    display: block;
  }

}

@media screen and (max-width:500px) {

  #featured-section {
    padding: 3rem 10% !important;
  }

  #featured-section .carousel-item .card {
    width: 100%;
  }

  #featured-section .carousel-control-prev,
  #featured-section .carousel-control-next {
    display: none;
  }

  #featured-section .md-carousel-container {
    display: block;
  }

}

/* Testimonial section */

#testimonial-section {
  padding: 0 5rem !important;
  /* text-align: center; */
}

#testimonial-section .testimonial {
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 1.5rem;
}
#testimonial-section .card {
  border: 0;
  text-align: center;
}

#testimonial-section .card .card-body {
  padding: 0;
}

#testimonial-section .testimonial .quotes {
  font-size: 1rem;
  font-weight: 800;
}

#testimonial-section .client-name {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: var(--brown-color);
}

#testimonial-section .carousel-control-next {
  background-image: url("../assets/chevron-right.svg");
}

#testimonial-section .carousel-control-prev {
  background-image: url("../assets/chevron-left.svg");
}

#testimonial-section :is(.carousel-control-next, .carousel-control-prev) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.5rem;
}

@media (max-width: 992px) {
  #testimonial-section .card {
    width: 70% !important;
    margin: 1rem auto;
  }
}

@media (max-width: 600px) {
  #testimonial-section {
    padding: 0 1rem 5% !important;
  }

  #testimonial-section .card {
    width: 90% !important;
  }

  #testimonial-section :is(.carousel-control-next, .carousel-control-prev) {
    display: none;
  }
}