/* reset */

.container-fluid {
    padding: 0 !important;
}


:root {
    --primary-color: #FAE0D8;
    --secondary-color: #000;
    --clear: #FFF;
    --brown-color: #c9a14b;
    --underline: #FFADAF;
    --gray-clear: #9EA0A0;
    --gray: #444444;
    --gray-clear-xl: #BEBFBF;
    --facebook: #1773EA;
}

body {
    font-family: 'Manrope', sans-serif;
}

/* Navigation bar */

.offcanvas {
  display: none;
}

nav {
    width: 100%;
    background-color: transparent;
    z-index: 10;
  }
  
  .navbar {
    background-color: transparent !important;
    padding: 0.6rem 3.5rem;
  }
  
  .navbar .nav-link {
    font-weight: 700;
    font-size: 1rem;
    padding-top: 15px;
    color: var(--secondary-color);
  }

  .navbar .navbar-logo {
    height: 60px;
  }
  
  .navbar-collapse .navbar-nav,
  .navbar-collapse .navbar-brand {
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .nav-link.active::after {
    content: "";
    width: 120px;
    height: 20px;
    background-color: #000;
  }
  
  .navbar .nav-icons img {
    height: 22px;
    cursor: pointer;
  }
  
  /* Main section */
  #main-section {
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
  }

  #main-section .main-social {
    padding: 2% 5% !important;
    color: var(--clear);
    z-index: 20;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
  }

  #main-section .main-social span {
    width: 25%;
  }

  #main-section .main-social span,
  #main-section .main-social span a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #main-section .main-social span a {
    text-decoration: none;
    color: var(--clear);
  }

  #main-section .main-social span a:hover img {
    filter: none;
  }

  #main-section .main-social span p {
    margin: 0;
  }

  #main-section .main-social span img {
    margin-right: 10px;
    width: 2rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    transition: 0.3s;
  }


  #main-section .main-social span:not(:last-child) {
    border-right: 2px solid var(--gray);
  }

  #main-section .main-social span h2 {
    font-size: 1.4rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  #main-section .main-social span h2.contracted {
    display: none;
  }

  #main-section .main-social span h2,
  #main-section .main-social span p {
    letter-spacing: 0.05rem;
  }
  
  #main-section .main-img {
    bottom: 0;
    right: 10%;
    height: 90%;
  }
  
  #main-section .row {
    top: 30%;
  }
  
  #main-section .row .col {
    padding-left: 10%;
    z-index: 10;
  }
  
  #main-section .row h1 {
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--secondary-color);
  }
  
  #main-section .row p {
    width: 25rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6rem;
    color: var(--gray);
  }
  
  #main-section .row .col .btn {
    background-color: var(--secondary-color);
    color: var(--clear);
    border-radius: 0;
    padding: 1.2rem 5rem;
    margin-top: 2rem;
    font-size: 0.95rem;
    letter-spacing: 2px;
  }
  
  /* Media queries */
  @media screen and (max-width:991.5px) {

    #main-section .main-social span img {
      width: 1.8rem;
    }

    .offcanvas {
      display: block;
    }

    #main-section .main-social span h2 {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    #main-section .row .col {
      padding-left: 8%;
    }
  
    #main-section .row h1 {
      font-size: 3.5rem;
    }
  
    #main-section .row p {
      width: 20rem;
    }
  
    #main-section .main-img {
      right: 8%;
      height: 85%;
    }
  }
  
  @media (max-width:750px) {
    #main-section .row {
      top: 35%;
    }

    #main-section .main-social span h2 {
      font-size: 1rem;
    }
    
    #main-section .main-social span p {
      font-size: 0.9rem;
    }

    #main-section .main-social span img {
      width: 1.2rem;
    }
  
    #main-section .row .col {
      padding-left: 8%;
    }
  
    #main-section .row h1 {
      font-size: 3rem;
    }
  
    #main-section .row p {
      width: 17rem;
    }
  
    #main-section .row .col .btn {
      padding: 1rem 4rem;
    }
  
    #main-section .main-img {
      right: 2%;
      height: 80%;
    }
  }

@media (max-width:650px) {

  #main-section .main-social {
    padding: 5% !important;
  }

  #main-section .main-social span h2.contracted {
    display: block;
  }

  #main-section .main-social span h2:not(.contracted) {
    display: none;
  }
}

@media (max-width:600px) {

    .navbar {
        padding: 0.6rem 2rem;
    }

    #main-section .row .col {
        padding: 0 !important;
    }

    #main-section .row h1 {
        font-size: 2.5rem;
    }

    #main-section .row p {
        width: 100% !important;
    }

    #main-section .row .col .btn {
        padding: 1rem 4rem;
    }

    #main-section .main-img {
        right: 0;
        height: 75%;
    }

    #main-section .main-social span img {
      width: 1.8rem;
    }

    #main-section .main-social span p {
      display: none;
    }
}

@media (max-width:450px) {

    #main-section .row {
        top: 50%;
        text-align: center;
    }

    #main-section .row .col {
        padding-left: 4rem;
    }

    #main-section .row h1 {
        font-size: 2rem;
    }

    #main-section .row p {
        width: 100%;
        font-size: 0.9rem;
        color: var(--brown-color);     ;
    }

    #main-section .row .col .btn {
        padding: 0.6rem 2rem;
    }

    #main-section .main-img {
        right: 50%;
        bottom: 0;
        width: 100%;
        height: auto;
        transform: translate(50%, 1%);
    }
}


/* Featured Section */

#featured-section {
    padding: 5rem !important;
}

#featured-section .heading h6 {
    color: var(--brown-color);
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 1rem;
}

#featured-section .heading h2 {
    color: var(--secondary-color);
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 3rem;
    margin: 0 0 5%;
}

#featured-section .md-carousel-container {
  display: none;
}

#featured-section .carousel {
    height: 65vh;
}

#featured-section .carousel-indicators {
    margin: 0;
    bottom: -8%;
}

#featured-section .carousel-indicators button {
    background-color: var(--gray);
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

#featured-section .carousel-inner,
#featured-section .carousel-item,
#featured-section .carousel-item .hstack {
    height: 100%;
}

#featured-section .carousel-control-prev,
#featured-section .carousel-control-next {
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    padding: 0.5rem;
    top: 50%;
    background-color: var(--brown-color);

}

#featured-section .carousel-control-prev {
    left: 2%;
    transform: translate(-50%, -50%);
}

#featured-section .carousel-control-next {
    right: 2%;
    transform: translate(50%, -50%);
}

#featured-section .carousel-item .card {
    height: 80%;
    width: 30%;
    border: 0;
}

#featured-section .carousel-item .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--bs-card-inner-border-radius) ;
}   

hr {
  margin: 0 5rem 5%;
  background-color: var(--gray-clear);
  border: 0;
  height: 0.1rem;
}

@media screen and (max-width:990px) {
    #featured-section .carousel {
        height: 50vh;
    }

    #featured-section .carousel-item .card {
        width: 32%;
    }

    #featured-section {
        padding: 3rem !important;
    }
}

@media screen and (max-width:768px) {

  #featured-section .carousel-item .card {
    width: 60%;
  }

  #featured-section .lg-carousel-container {
    display: none;
  }

  #featured-section .md-carousel-container {
    display: block;
  }

}

@media screen and (max-width:500px) {

  #featured-section {
    padding: 3rem 10% !important;
  }

  #featured-section .carousel-item .card {
    width: 100%;
  }

  #featured-section .carousel-control-prev,
  #featured-section .carousel-control-next {
    display: none;
  }

  #featured-section .md-carousel-container {
    display: block;
  }

}




/* Footer */

footer {
    width: 100%;
}

footer > .row {
    padding: 0 5%;
}

footer .logo {
    height: 5rem;
}

footer ul li {
    list-style: none;
    margin: 5px;
}

footer ul li a,
footer .form-heading,
footer #email::placeholder {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
}

footer .footer-links li a{
    color: var(--secondary-color);
}

footer .footer-legal li a,
footer .footer-social li a {
    color: #8d8c8c;
}

footer .right-row {
    text-align: end;
}

footer form input {
    width: 100%;
    border: 2px solid var(--gray-clear-xl);
    padding: 0 3rem 0 1rem;
}

footer form input::placeholder {
    color: #BEBFBF;
    position: absolute;
    right: 3.5rem;
    top: 50%;
    transform: translateY(-50%);
}

footer form input:focus {
    outline: none;
}

footer form button[type="submit"] {
  width: 3rem;
  border-radius: 0;
  background-image: url("../assets/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border: 0;
  transition: 0.3s;
}

footer form button[type="submit"]:active,
footer form button[type="submit"],
footer form button[type="submit"]:hover {
  background-color: var(--brown-color) !important;
}

footer form button[type="submit"]:active {
  outline: none;
  opacity: 0.8;
}

footer form input, 
footer form button[type="submit"] {
    height: 3rem;
}

footer .copyright {
  font-size: 0.8rem;
  color: var(--gray-clear);
}

@media (max-width: 992px) {
  footer .right-row {
    text-align: center;
  }

  footer .right-row .col {
    width: 60%;
    margin: 30px auto 0;
  }

  footer form input::placeholder {
    left: 1rem;
  }

  footer .col .copyright {
    margin: 50px 0 25px !important;
  }

}

@media (max-width: 992px) {
  
    footer .right-row .col {
    width: 80%;
  }

}

@media (max-width: 768px) {
  
  footer .logo {
    margin-bottom: 5%;
  }

}

@media (max-width: 310px) {
  footer .left-row .col {
    text-align: center;
  }
}