<div class="row m-0 gy-5 ">
    <% products.map(product =>{%>
        <div class="col col-6 col-lg-3 col-md-4 col-sm-6 p-0">
            <div class="card border-0 m-auto" >
                <div class="w-100 h-100 position-relative overflow-hidden card-img-top-container">
                  <img src="<%= product.image %>" loading="lazy" class="card-img-top" alt="<%= product.name %>">
                  <button class="view-icon-btn btn border-0 bg-light rounded-circle position-absolute" data-bs-toggle="offcanvas" data-bs-target="#quickview">
                    <img src="assets/eye-full.svg" class="view-icon" alt="quick view">
                  </button>
                  <button class="add-btn btn rounded-0 fw-semibold position-absolute d-flex justify-content-center align-items-center gap-3">
                    <img src="assets/cart.svg" class="add-cart-btn" alt="add to cart"> Add to cart
                  </button>
                </div>
                <div class="card-body px-0">
                  <div class="d-flex justify-content-between">
                    <p class="card-text fw-semibold mb-0 product-name"><%= product.name %></p>
                    <img src="assets/favorite.svg" class="fav-icon" alt="add to favorite">
                  </div>
                  <div class="price-slider mt-1 w-100 position-relative overflow-hidden">
                    <p class="card-text fw-semibold text-secondary position-absolute m-0">$240 - $340</p>
                    <button class="card-text rounded-0 border-0 w-100 p-0 btn fw-semibold text-secondary text-start position-absolute">Buy</button>
                  </div>
                </div>
              </div>
        </div>
    <% }) %>
</div>