<div style="min-height: 50vh;" class="row m-0 gy-4 ">
    <div class="d-flex gap-3 flex-column justify-content-center align-items-center">
        <img height="60" src="/assets/empty-cart.svg" alt="empty cart">
        <p class="fs-3 fw-semibold">Nothing found !</p>
    </div>
</div>